In [1]:
import pandas as pd

In [8]:
credit_df=pd.read_csv('tmdb_5000_credits.csv')
movie_df=pd.read_csv('tmdb_5000_movies.csv')

# verileri okuyoruz

In [9]:
credit_df.shape
# boyutuna baktık

(4803, 4)

In [10]:
movie_df.shape

(4803, 20)

In [11]:
credit_df = credit_df.iloc[:3500,:]
movie_df = movie_df.iloc[:3500, :]

# boyutlarını azaltıyoruz

In [12]:
credit_df.shape

(3500, 4)

In [13]:
movie_df.shape

(3500, 20)

In [14]:
credit_df.rename(columns={'movie_id':'id'}, inplace=True)

# credit_df de bulunan movie_id değişkenini id olarak değiştiriyoruz

In [15]:
df=credit_df.merge(movie_df,on='id')

# credit_df ve movie_df değişkenini df de birleştiriyoruz

In [16]:
df.head()

,id,title_x,cast,crew,budget,genres,homepage,keywords,original_language,original_title,...,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title_y,vote_average,vote_count
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,...,"[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [17]:
df.info()

# df değişkeninin bilgilerine bakıyoruz

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    3500 non-null   int64
 1   title_x               3500 non-null   object
 2   cast                  3500 non-null   object
 3   crew                  3500 non-null   object
 4   budget                3500 non-null   int64
 5   genres                3500 non-null   object
 6   homepage              1337 non-null   object
 7   keywords              3500 non-null   object
 8   original_language     3500 non-null   object
 9   original_title        3500 non-null   object
 10  overview              3499 non-null   object
 11  popularity            3500 non-null   float64
 12  production_companies  3500 non-null   object
 13  production_countries  3500 non-null   object
 14  release_date          3500 non-null   object
 15  revenue               3500 non-null   int64
 16  runtime               3499 non-null   float64
 17  spoken_languages      3500 non-null   object
 18  status                3500 non-null   object
 19  tagline               3093 non-null   object
 20  title_y               3500 non-null   object
 21  vote_average          3500 non-null   float64
 22  vote_count            3500 non-null   int64
dtypes: float64(3), int64(4), object(16)
memory usage: 629.0+ KB

In [18]:
df.isnull().sum()

id                         0
title_x                    0
cast                       0
crew                       0
budget                     0
genres                     0
homepage                2163
keywords                   0
original_language          0
original_title             0
overview                   1
popularity                 0
production_companies       0
production_countries       0
release_date               0
revenue                    0
runtime                    1
spoken_languages           0
status                     0
tagline                  407
title_y                    0
vote_average               0
vote_count                 0
dtype: int64

In [19]:
# içerik bazlı tavsiye sistemi oluşturacağız
# film başlığı, tür, genel bakış, oyuncu kadro gibi değişkenleri tek bir değişkende toplamak gerekiyor

In [20]:
df.dropna(subset=['overview'], inplace=True)
# overview de bulunan 3 boş değeri sildik

In [19]:
# bizim için gerekli olan id, title_x, genres, overview, cast, crew değişkenleri alacağız
# içerik bazlı tavsiye için gerekli olan değişkenler

In [21]:
df=df[['id', 'title_x', 'genres','overview','cast','crew']]

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3499 entries, 0 to 3499
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        3499 non-null   int64
 1   title_x   3499 non-null   object
 2   genres    3499 non-null   object
 3   overview  3499 non-null   object
 4   cast      3499 non-null   object
 5   crew      3499 non-null   object
dtypes: int64(1), object(5)
memory usage: 191.4+ KB

In [23]:
df.isnull().sum()

id          0
title_x     0
genres      0
overview    0
cast        0
crew        0
dtype: int64

In [24]:
df.head()
# oluşturduğumuz değişkenlere genel bir bakış atıyor ve fikir ediniyoruz

,id,title_x,genres,overview,cast,crew
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","Captain Barbossa, long believed to be dead, ha...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",A cryptic message from Bond’s past sends him o...,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",Following the death of District Attorney Harve...,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","John Carter is a war-weary, former military ca...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [ ]:
# içeriğe göre film seçimi oluştururken genres değişkeninin hepsini alıyoruz

In [25]:
df.genres[0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [26]:
' '.join([i['name'] for i in eval(df.genres[0])])

'Action Adventure Fantasy Science Fiction'

In [ ]:
# cast değişkeninden ilk 3 ü alıyoruz

In [27]:
' '.join([i['name'] for i in eval(df.cast[0])[:3]])

'Sam Worthington Zoe Saldana Sigourney Weaver'

In [28]:
' '.join(list(set([i['name'] for i in eval(df.crew[0]) if i['job']=='Director' or i['job']=='Producer'])))

'Jon Landau James Cameron'

In [36]:
# Fonksiyonlaştırmak

In [29]:
def generate_corpus(overview, genre, cast, crew):
    
    corpus=''
    
    genre=' '.join([i['name'] for i in eval(genre)])
    
    cast=' '.join([i['name'] for i in eval(cast)[:3]])
    
    crew=' '.join(list(set([i['name'] for i in eval(crew) if i['job']=='Director' or i['job']=='Producer'])))
    
    corpus+=overview + ' ' +  genre + ' ' + cast + ' ' + crew
    
    return corpus

In [30]:
corpus=[]

for i in range(len(df)):
    corpus.append(generate_corpus(df.iloc[i].overview, df.iloc[i].genres, df.iloc[i].cast, df.iloc[i].crew))

In [31]:
len(corpus)

3499

In [32]:
corpus[0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy Science Fiction Sam Worthington Zoe Saldana Sigourney Weaver Jon Landau James Cameron'

In [42]:
# DataFrame i Düzenlemek

In [33]:
df.rename(columns={'title_x':'title'}, inplace=True)

In [34]:
df.drop(columns=['genres' , 'overview' , 'cast' , 'crew'], inplace=True)

In [35]:
df['corpus']=corpus

In [36]:
df.head()

# oluşturduğumuz yeni tablonun ilk 5 satırına bakıyoruz

,id,title,corpus
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [71]:
# TF-IDF

# makine öğreniminde modelin etkili çalışabilmesi için metinlerin matematiksel forma dönüşmesi gerekiyor


from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [38]:
tfidf=TfidfVectorizer(stop_words='english')



# burada gereksiz kelimeleri çıkartıyoruz or, and gibi
# bize sadece gerekli olan kelimeler kalacak

In [39]:
tfidf_matrix=tfidf.fit_transform(df['corpus'])

In [40]:
df.shape

(3499, 3)

In [41]:
tfidf_matrix.shape

(3499, 23487)

In [84]:
# Cosine Similarity Matrix

In [42]:
from sklearn.metrics.pairwise import linear_kernel

In [43]:
cos_mat=linear_kernel(tfidf_matrix, tfidf_matrix)

In [44]:
cos_mat.shape

(3499, 3499)

In [45]:
diag=0

for i in  range(len(cos_mat)):
    diag+=cos_mat[i][i]
    

print(diag)

3499.0

In [46]:
def get_recommendations(movie, n):
    
    index=df[df['title']==movie].index[0]
    
    similar_movies=sorted(list(enumerate(cos_mat[index])), reverse=True, key=lambda x: x[1])
    
    recomm=[]
    
    for i in similar_movies[1:n+1]:
        recomm.append(df.iloc[i[0]].title)
        
    return recomm

In [48]:
get_recommendations("John Carter",3)

# get_recommendations fonksiyonun da film adı ve benzer 3 filmi getir dedik

['WALL·E', 'Get Carter', 'Code 46']

In [93]:
# Streamlit te kullanabilmek için joblib kütüphanesini import edeceğiz

In [69]:
import joblib

In [75]:
joblib.dump(df,'../models/movie_db.df')

['../models/movie_db.df']

In [72]:
joblib.dump(cos_mat, '../models/cos_mat.mt')

['../models/cos_mat.mt']

In [73]:
joblib.dump(tfidf, '../models/vectorizer.tf')

['../models/vectorizer.tf']

In [74]:
joblib.dump(tfidf_matrix, '../models/tfidf_mat.tf')

['../models/tfidf_mat.tf']

In [ ]:
# oluşturacağımız uygulamanın içerisinde kullanabilmek için fonksiyonlarımızı 
# joblib.dump() fonksiyonu ile models klasörüne kaydettik